<div>
  <h1 style="text-align: center; padding-top: 100px; margin-bottom: 40px">
    Search Data Plans for your destination
  </h1>
  <form style="margin: auto; width: 40%">
    <input
      class="search-container"
      placeholder="Start searching by country (180+ countries included)"
    />
  </form>
  <br />
  <p style="text-align: center">for unlocked</p>

  <p style="text-align: center; font-weight: bold; color: #59d25d">
    <a (click)="openModal($event)">eSIM-enabled devices</a>
  </p>
</div>

<div class="resizable-div">
  <div class="mainTab">
    <div class="tabs">
      <a
        class="btn btn-light btn-types"
        (click)="selectTab(1)"
        [ngClass]="{ active: selectedTab === 1 }"
        >Country eSIM</a
      >
      <a
        class="btn btn-light btn-types"
        (click)="selectTab(2)"
        [ngClass]="{ active: selectedTab === 2 }"
        >Regional eSIM</a
      >
      <a
        class="btn btn-light btn-types"
        (click)="selectTab(3)"
        [ngClass]="{ active: selectedTab === 3 }"
        >Global eSIM</a
      >
    </div>
  </div>

  <div *ngIf="selectedTab === 1" class="country-list">
    <app-country-cards></app-country-cards>
  </div>

  <div *ngIf="selectedTab === 2" class="regional-div">
    <button class="accordion">
      <h5>Middle East</h5>
      <img src="../../assets/drop-down.jpg" style="width: 15px; height: 15px" />
    </button>
    <button class="accordion">
      <h5>North America</h5>
      <img src="../../assets/drop-down.jpg" style="width: 15px; height: 15px" />
    </button>
    <button class="accordion">
      <h5>LATAM</h5>
      <img src="../../assets/drop-down.jpg" style="width: 15px; height: 15px" />
    </button>
    <button class="accordion">
      <h5>Caribbean</h5>
      <img src="../../assets/drop-down.jpg" style="width: 15px; height: 15px" />
    </button>
    <button class="accordion">
      <h5>Africa</h5>
      <img src="../../assets/drop-down.jpg" style="width: 15px; height: 15px" />
    </button>
    <button class="accordion">
      <h5>Oceania</h5>
      <img src="../../assets/drop-down.jpg" style="width: 15px; height: 15px" />
    </button>
    <button class="accordion">
      <h5>Asia</h5>
      <img src="../../assets/drop-down.jpg" style="width: 15px; height: 15px" />
    </button>
    <button class="accordion">
      <h5>Eurupe</h5>
      <img src="../../assets/drop-down.jpg" style="width: 15px; height: 15px" />
    </button>
  </div>

  <div *ngIf="selectedTab === 3" class="content-div"></div>
</div>
