 .navbar-brand img {
  height: 40px;
}

.nav-item .nav-link {
  margin-right: 10px;
  font-weight: bold;
}

.nav-item .btn-success {
  margin-left: 10px;
}

.badge {
  position: relative;
  top: -10px;
  right: 10px;
}
