.navbar-brand img {
  height: 30px;
}

.navbar-div {
  margin-top: 0 !important;
  background-color: #fff;
  position: fixed;
  width: 100%;
  z-index: 1000; /* Ensure the navbar stays on top */
}

.navbar-div-relative {
  background-color: #fff;
  width: 100%;
}

.navbar {
  padding: 0 5%;
}

.navbar-nav {
  align-items: center;
}

.nav-item .nav-link {
  margin-right: 10px;
  font-weight: bold;
}

.nav-item .btn-success {
  margin-left: 10px;
}

.routing-btn {
  margin-left: 5px;
  border-radius: 50px;
  padding: 15px;
  background-color: #fff;
}

.routing-btn-one {
  margin-left: 5px;
  border-radius: 50px;
  padding: 15px;
  background-color: #000000;
}

.routing-btn:hover {
  background-color: #01db5d;
  color: white;
  border-width: 0;
}

.login-btn {
  width: 150px;
}

.cart {
  margin: 5px;
}

.container-fluid{
  margin-top: 12px;
  border-bottom: 2px #f8f8f8 solid;
  padding-bottom: 12px;
}