<nav class="navbar navbar-expand-lg navbar-light" [ngClass]="{ 'navbar-div': !isModalOpen, 'navbar-div-relative': isModalOpen }">
  <div class="container-fluid">
    <a class="navbar-brand" routerLink="">
      <img src="assets/logo.png" alt="Roambuddy Logo" class="logo-roambuddy">
    </a>

    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="btn btn-dark routing-btn-one" routerLink="order-esim-page">Order an eSIM</a>
        </li>
        <li class="nav-item">
          <a class="btn btn-light routing-btn" routerLink="activate-sim">Activate SIM/Device</a>
        </li>
        <li class="nav-item">
          <a class="btn btn-light routing-btn" routerLink="testimonials-page">Testimonial</a>
        </li>
        <li class="nav-item">
          <a class="btn btn-light routing-btn" routerLink="faqs">FAQ</a>
        </li>
        <li class="nav-item">
          <a class="btn btn-light routing-btn" routerLink="contact">Contact</a>
        </li>
        <li class="nav-item">
          <a class="btn cart">🛒</a>
        </li>
        <li class="nav-item" style="list-style: none;">
          <a class="btn green-btn login-btn" routerLink="order-esim">Login</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
