<div class="background-div">
    <div class="footer-top">
        <div >
            <img src="../../assets/warranty.png" width="30%"/>
        </div>    
        <div>
            <img src="../../assets/fb.png" width="20%"/>
            <img src="../../assets/insta.png" width="20%" class="social-media-image"/>
            <img src="../../assets/twitter.png" width="20%" class="social-media-image"/>
            <img src="../../assets/linkedin.png" width="20%"/>
    
        </div>
    </div>
    <div class="footer-bottom">Copyright 2024 RoamBuddy. All right reserved. Terms & Conditions | Privacy Policy

    </div>
</div>