<div class="countries-container">
  <div *ngFor="let country of countries; let i = index" class="country-item">
    <button (click)="toggleCard(i)" class="country">
      <div style="display: flex; align-items: center;">
        <img [src]="country.flag" alt="{{ country.name }} flag" class="flag">
        <span style="margin-left: 10px;"> {{ country.name }}</span>
      </div>
      <img src="../../assets/drop-down.jpg" style="width: 15px; height: 15px" />

    </button>
    <div *ngIf="activeIndex === i" class="offer-card">
      <div class="offer-header">
        <div class="offer-title">
          {{ country.name }} {{ country.duration }}D
        </div>
        <div class="offer-countries">works in 106 countries</div>
      </div>
      <hr />
      <div class="offer-body">
        <div class="offer-detail">
          <div style="display: flex; flex-direction: row">
            <img src="../../assets/internet.png" style="height: 15px; width: 15px; margin: 6px" />
            <div style="
                display: flex;
                align-items: flex-start;
                flex-direction: column;
              ">
              <span class="detail-label">{{ country.internet }} GB</span>
              <p>Internet traffic</p>
            </div>
          </div>
          <span class="detail-price">${{ country.price }}</span>
        </div>
        <div class="offer-duration">
          <div style="display: flex; flex-direction: row">
            <img src="../../assets/internet.png" style="height: 15px; width: 15px; margin: 6px" />
            <div style="
                display: flex;
                align-items: flex-start;
                flex-direction: column;
              ">
              <span class="detail-label">{{ country.duration }} Days</span>
              <p>Duration</p>
            </div>
          </div>

          <button class="view-offer-btn">View Offer</button>
        </div>
      </div>
      <div class="offer-footer">
        <button
        (click)="openModalFunction()"
        class="get-offer-btn">
          Get for ${{ country.price }}
          <span class="cart-icon">🛒</span>
        </button>
      </div>
    </div>
  </div>

    <button class="load-more-button" (click)="toggleSize()">
      {{
      isDefaultSize
      ? "Show All Countries"
      : "Hide
      All Countries"
      }}
    </button>
</div>