.countries-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr); /* 4 columns */
  gap: 20px;
  padding: 20px;
}

.country-item {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.country {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  border-radius: 10px;
  padding: 10px 15px;
  background-color: #fff;
  border: 1px solid #ccc;
  cursor: pointer;
  text-align: left;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
}

.flag {
  width: 15px;
  height: 15px;
}

.card {
  margin-top: 10px;
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  background-color: #f9f9f9;
}

@media (max-width: 1200px) {
  .countries-container {
    grid-template-columns: repeat(3, 1fr); /* 3 columns for medium screens */
  }
}

@media (max-width: 900px) {
  .countries-container {
    grid-template-columns: repeat(2, 1fr); /* 2 columns for smaller screens */
  }
}

@media (max-width: 600px) {
  .countries-container {
    grid-template-columns: 1fr; /* 1 column for mobile devices */
  }
}
