<div class="button-container">
  <button
    *ngFor="let country of countries.row1"
    (click)="showColor('row1', country)"
    class="country"
  >
    <div style="display: flex; align-items: center">
      <img [src]="country.flag" class="flag" />
      <span style="margin-left: 10px">{{ country.name }}</span>
    </div>
    <img src="../../assets/drop-down.jpg" style="width: 15px; height: 15px" />
  </button>
</div>

<!-- Display the offers of the selected country in row1 -->
<div
  style="display: flex; flex-direction: row"
  *ngIf="selectedCountry && selectedRow === 'row1'"
  class="color-display"
>
  <div
    *ngFor="let offer of selectedCountry.offer"
    style="width: 100%; height: 100%; margin: 15px"
  >
    <!-- <div>{{ offer.id }}</div> -->
    <div class="offer-card">
      <div class="offer-header">
        <div class="offer-title">{{ offer.name }} {{ offer.duration }}</div>
        <div class="offer-countries">works in 106 countries</div>
      </div>
      <hr />
      <div class="offer-body">
        <div class="offer-detail">
          <div style="display: flex; flex-direction: row">
            <img
              src="../../assets/internet.png"
              style="height: 15px; width: 15px; margin: 6px"
            />
            <div
              style="
                display: flex;
                align-items: flex-start;
                flex-direction: column;
              "
            >
              <span class="detail-label">30 GB</span>
              <p>Internet traffic</p>
            </div>
          </div>
          <span class="detail-price">$10</span>
        </div>
        <div class="offer-duration">
          <div style="display: flex; flex-direction: row">
            <img
              src="../../assets/internet.png"
              style="height: 15px; width: 15px; margin: 6px"
            />
            <div
              style="
                display: flex;
                align-items: flex-start;
                flex-direction: column;
              "
            >
              <span class="detail-label">30 Days</span>
              <p>Duration</p>
            </div>
          </div>

          <button class="view-offer-btn" (click)="openOfferModal()">
            View Offer
          </button>
        </div>
      </div>
      <div class="offer-footer">
        <button class="get-offer-btn">
          Get for $30
          <span class="cart-icon">🛒</span>
        </button>
      </div>
    </div>
  </div>
</div>

<div class="button-container">
  <button
    *ngFor="let country of countries.row2"
    (click)="showColor('row2', country)"
    class="country"
  >
    <div style="display: flex; align-items: center">
      <img [src]="country.flag" class="flag" />
      <span style="margin-left: 10px">{{ country.name }}</span>
    </div>
    <img src="../../assets/drop-down.jpg" style="width: 15px; height: 15px" />
  </button>
</div>

<!-- Display the offers of the selected country in row2 -->
<div
  style="display: flex; flex-direction: row"
  *ngIf="selectedCountry && selectedRow === 'row2'"
  class="color-display"
>
  <div
    *ngFor="let offer of selectedCountry.offer"
    style="width: 100%; height: 100%; margin: 15px"
  >
    <div class="offer-card">
      <div class="offer-header">
        <div class="offer-title">{{ offer.name }} {{ offer.duration }}</div>
        <div class="offer-countries">works in 106 countries</div>
      </div>
      <hr />
      <div class="offer-body">
        <div class="offer-detail">
          <div style="display: flex; flex-direction: row">
            <img
              src="../../assets/internet.png"
              style="height: 15px; width: 15px; margin: 6px"
            />
            <div
              style="
                display: flex;
                align-items: flex-start;
                flex-direction: column;
              "
            >
              <span class="detail-label">30 GB</span>
              <p>Internet traffic</p>
            </div>
          </div>
          <span class="detail-price">$10</span>
        </div>
        <div class="offer-duration">
          <div style="display: flex; flex-direction: row">
            <img
              src="../../assets/internet.png"
              style="height: 15px; width: 15px; margin: 6px"
            />
            <div
              style="
                display: flex;
                align-items: flex-start;
                flex-direction: column;
              "
            >
              <span class="detail-label">30 Days</span>
              <p>Duration</p>
            </div>
          </div>

          <button class="view-offer-btn" (click)="openOfferModal()">
            View Offer
          </button>
        </div>
      </div>
      <div class="offer-footer">
        <button class="get-offer-btn">
          Get for $30
          <span class="cart-icon">🛒</span>
        </button>
      </div>
    </div>
  </div>
</div>

<div class="button-container">
  <button
    *ngFor="let country of countries.row3"
    (click)="showColor('row3', country)"
    class="country"
  >
    <div style="display: flex; align-items: center">
      <img [src]="country.flag" class="flag" />
      <span style="margin-left: 10px">{{ country.name }}</span>
    </div>
    <img src="../../assets/drop-down.jpg" style="width: 15px; height: 15px" />
  </button>
</div>

<!-- Display the offers of the selected country in row3 -->
<div
  style="display: flex; flex-direction: row"
  *ngIf="selectedCountry && selectedRow === 'row3'"
  class="color-display"
>
  <div
    *ngFor="let offer of selectedCountry.offer"
    style="width: 100%; height: 100%; margin: 15px"
  >
    <div class="offer-card">
      <div class="offer-header">
        <div class="offer-title">{{ offer.name }} {{ offer.duration }}</div>
        <div class="offer-countries">works in 106 countries</div>
      </div>
      <hr />
      <div class="offer-body">
        <div class="offer-detail">
          <div style="display: flex; flex-direction: row">
            <img
              src="../../assets/internet.png"
              style="height: 15px; width: 15px; margin: 6px"
            />
            <div
              style="
                display: flex;
                align-items: flex-start;
                flex-direction: column;
              "
            >
              <span class="detail-label">30 GB</span>
              <p>Internet traffic</p>
            </div>
          </div>
          <span class="detail-price">$10</span>
        </div>
        <div class="offer-duration">
          <div style="display: flex; flex-direction: row">
            <img
              src="../../assets/internet.png"
              style="height: 15px; width: 15px; margin: 6px"
            />
            <div
              style="
                display: flex;
                align-items: flex-start;
                flex-direction: column;
              "
            >
              <span class="detail-label">30 Days</span>
              <p>Duration</p>
            </div>
          </div>

          <button class="view-offer-btn" (click)="openOfferModal()">
            View Offer
          </button>
        </div>
      </div>
      <div class="offer-footer">
        <button class="get-offer-btn">
          Get for $30
          <span class="cart-icon">🛒</span>
        </button>
      </div>
    </div>
  </div>
</div>

<div class="button-container" *ngIf="showExtraRows">
  <button
    *ngFor="let country of countries.row4"
    (click)="showColor('row4', country)"
    class="country"
  >
    <div style="display: flex; align-items: center">
      <img [src]="country.flag" class="flag" />
      <span style="margin-left: 10px">{{ country.name }}</span>
    </div>
    <img src="../../assets/drop-down.jpg" style="width: 15px; height: 15px" />
  </button>
</div>

<!-- Display the offers of the selected country in row4 -->
<div
  style="display: flex; flex-direction: row"
  *ngIf="selectedCountry && selectedRow === 'row4'"
  class="color-display"
>
  <div
    *ngFor="let offer of selectedCountry.offer"
    style="width: 100%; height: 100%; margin: 15px"
  >
    <div class="offer-card">
      <div class="offer-header">
        <div class="offer-title">{{ offer.name }} {{ offer.duration }}</div>
        <div class="offer-countries">works in 106 countries</div>
      </div>
      <hr />
      <div class="offer-body">
        <div class="offer-detail">
          <div style="display: flex; flex-direction: row">
            <img
              src="../../assets/internet.png"
              style="height: 15px; width: 15px; margin: 6px"
            />
            <div
              style="
                display: flex;
                align-items: flex-start;
                flex-direction: column;
              "
            >
              <span class="detail-label">30 GB</span>
              <p>Internet traffic</p>
            </div>
          </div>
          <span class="detail-price">$10</span>
        </div>
        <div class="offer-duration">
          <div style="display: flex; flex-direction: row">
            <img
              src="../../assets/internet.png"
              style="height: 15px; width: 15px; margin: 6px"
            />
            <div
              style="
                display: flex;
                align-items: flex-start;
                flex-direction: column;
              "
            >
              <span class="detail-label">30 Days</span>
              <p>Duration</p>
            </div>
          </div>

          <button class="view-offer-btn" (click)="openOfferModal()">
            View Offer
          </button>
        </div>
      </div>
      <div class="offer-footer">
        <button class="get-offer-btn">
          Get for $30
          <span class="cart-icon">🛒</span>
        </button>
      </div>
    </div>
  </div>
</div>

<div class="button-container" *ngIf="showExtraRows">
  <button
    *ngFor="let country of countries.row5"
    (click)="showColor('row5', country)"
    class="country"
  >
    <div style="display: flex; align-items: center">
      <img [src]="country.flag" class="flag" />
      <span style="margin-left: 10px">{{ country.name }}</span>
    </div>
    <img src="../../assets/drop-down.jpg" style="width: 15px; height: 15px" />
  </button>
</div>

<!-- Display the offers of the selected country in row5 -->
<div
  style="display: flex; flex-direction: row"
  *ngIf="selectedCountry && selectedRow === 'row5'"
  class="color-display"
>
  <div
    *ngFor="let offer of selectedCountry.offer"
    style="width: 100%; height: 100%; margin: 15px"
  >
    <div class="offer-card">
      <div class="offer-header">
        <div class="offer-title">{{ offer.name }} {{ offer.duration }}</div>
        <div class="offer-countries">works in 106 countries</div>
      </div>
      <hr />
      <div class="offer-body">
        <div class="offer-detail">
          <div style="display: flex; flex-direction: row">
            <img
              src="../../assets/internet.png"
              style="height: 15px; width: 15px; margin: 6px"
            />
            <div
              style="
                display: flex;
                align-items: flex-start;
                flex-direction: column;
              "
            >
              <span class="detail-label">30 GB</span>
              <p>Internet traffic</p>
            </div>
          </div>
          <span class="detail-price">$10</span>
        </div>
        <div class="offer-duration">
          <div style="display: flex; flex-direction: row">
            <img
              src="../../assets/internet.png"
              style="height: 15px; width: 15px; margin: 6px"
            />
            <div
              style="
                display: flex;
                align-items: flex-start;
                flex-direction: column;
              "
            >
              <span class="detail-label">30 Days</span>
              <p>Duration</p>
            </div>
          </div>

          <button
            class="view-offer-btn"
            (click)="openOfferModal()"
            (click)="openOfferModal()"
          >
            View Offer
          </button>
        </div>
      </div>
      <div class="offer-footer">
        <button class="get-offer-btn">
          Get for $30
          <span class="cart-icon">🛒</span>
        </button>
      </div>
    </div>
  </div>
</div>

<!-- Toggle Button -->
<button
  (click)="toggleRows()"
  style="display: block; margin: 0 auto; margin-bottom: 20px"
  class="load-more-button"
>
  {{ showExtraRows ? "Hide Additional Rows" : "Show Additional Rows" }}
</button>
