<div class="resizable-div" [style.height.px]="currentHeight">
    <div class="navbar">
        <button (click)="selectTab(1)" [ngClass]="{'active': selectedTab === 1}">One</button>
        <button (click)="selectTab(2)" [ngClass]="{'active': selectedTab === 2}">Two</button>
        <button (click)="selectTab(3)" [ngClass]="{'active': selectedTab === 3}">Three</button>
      </div>
      
      <div *ngIf="selectedTab === 1" class="content-div" style="background-color: red;">Content for One</div>
      <div *ngIf="selectedTab === 2" class="content-div" style="background-color: green;">Content for Two</div>
      <div *ngIf="selectedTab === 3" class="content-div" style="background-color: blue;">Content for Three</div>
      
</div>