<div class="background-div">

</div>

<form action="" style="margin: 5%;">
    <p>Enter First Name *</p>
    <input class="form-input" type="text" name="name" placeholder="Enter Name">
    <p>Enter Last Name *</p>

    <input class="form-input" type="password" name="password">
    <p>Enter Email *</p>

    <input class="form-input" type="text" name="email">

    <p>Concerning *</p>

    <input class="form-input" type="password" name="password">
    <p>Message *</p>

    <input class="form-input" type="text" name="email">
</form>