.background-div {
  background-image: url("../../assets/contact_us_bg.png");
  margin-left: 5%;
  margin-right: 5%;
  height: 254px;
  border-radius: 6px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  padding-top: 440px;
}

.form-container {
  max-width: 60%;
  margin: auto;
  margin-bottom: 20px;
  padding: 20px;
}

.top-row-one {
  display: flex;
  justify-content: space-between;
}

.form-group {
  margin-bottom: 15px;
}

label {
  display: block;
  margin-bottom: 5px;
}


.half-width{
  width: 48%;
}

input,
textarea {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

input::placeholder,
textarea::placeholder {
  color: #999;
}

textarea {
  resize: vertical;
}

.required {
  color: red;
}

.submit-button {
  background-color: #01db5d;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 25px;
  cursor: pointer;
}

.submit-button:hover {
  background-color: #218838;
}

.submit-div{
  display: flex;
  justify-content: center;
}