.background-div {
  background-image: url("../../assets/contact_us_bg.png");
  background-size: cover;
  background-position: center;
  color: #ffffff;
  padding: 5%;
  display: flex;
  flex-direction: column;
  margin-left: 5%;
  margin-right: 5%;

  

}

.form-container {
  max-width: 60%;
  margin: auto;
  margin-top: 20px;
  margin-bottom: 20px;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

.form-group {
  margin-bottom: 15px;
}

label {
  display: block;
  margin-bottom: 5px;
}

input, textarea {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

input::placeholder, textarea::placeholder {
  color: #999;
}

textarea {
  resize: vertical;
}

.required {
  color: red;
}

.submit-button {
  background-color: #28a745;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.submit-button:hover {
  background-color: #218838;
}
