<div class="background-div">
  <h1 class="main-title">Avoid Roaming Bill Shock and Save Over 75% with Roambuddy! </h1>
  <button class="btn green-btn order-button">Order an eSIM</button>
  <p class="data-coverage-text">Data coverage when you want, where you want.</p>
</div>

<app-order-esim (openModalEvent)="openModal()"></app-order-esim>
<app-esim-enabled-devices [isVisible]="isModalVisible" (closeModal)="isModalVisible = false"></app-esim-enabled-devices>

<app-testimonials></app-testimonials>


