<div class="button-container">
  <button
    *ngFor="let country of countries.row1"
    (click)="showColor('row1', country)"
    class="country"
  >
    <div style="display: flex; align-items: center">
      <img [src]="country.flag" class="flag" />
      <span style="margin-left: 10px">{{ country.name }}</span>
    </div>
    <img src="../../assets/drop-down.jpg" style="width: 15px; height: 15px" />
  </button>
</div>

<!-- Display the offers of the selected country in row1 -->
<div
  style="display: flex; flex-direction: row"
  *ngIf="selectedCountry && selectedRow === 'row1'"
  class="color-display"
  [ngStyle]="{ 'background-color': colorMap['row1'] }"
>
  <div
    *ngFor="let offer of selectedCountry.offer"
    style="width: 100%; height: 100px; border: 1px solid"
  >
    <div>{{ offer.id }}</div>
  </div>
</div>

<div class="button-container">
  <button
    *ngFor="let country of countries.row2"
    (click)="showColor('row2', country)"
    class="country"
  >
    <div style="display: flex; align-items: center">
      <img [src]="country.flag" class="flag" />
      <span style="margin-left: 10px">{{ country.name }}</span>
    </div>
    <img src="../../assets/drop-down.jpg" style="width: 15px; height: 15px" />
  </button>
</div>

<!-- Display the offers of the selected country in row2 -->
<div
  style="display: flex; flex-direction: row"
  *ngIf="selectedCountry && selectedRow === 'row2'"
  class="color-display"
  [ngStyle]="{ 'background-color': colorMap['row2'] }"
>
  <div
    *ngFor="let offer of selectedCountry.offer"
    style="width: 100%; height: 100px; border: 1px solid"
  >
    <div>{{ offer.id }}</div>
  </div>
</div>

<div class="button-container">
  <button
    *ngFor="let country of countries.row3"
    (click)="showColor('row3', country)"
    class="country"
  >
    <div style="display: flex; align-items: center">
      <img [src]="country.flag" class="flag" />
      <span style="margin-left: 10px">{{ country.name }}</span>
    </div>
    <img src="../../assets/drop-down.jpg" style="width: 15px; height: 15px" />
  </button>
</div>

<!-- Display the offers of the selected country in row3 -->
<div
  style="display: flex; flex-direction: row"
  *ngIf="selectedCountry && selectedRow === 'row3'"
  class="color-display"
  [ngStyle]="{ 'background-color': colorMap['row3'] }"
>
  <div
    *ngFor="let offer of selectedCountry.offer"
    style="width: 100%; height: 100px; border: 1px solid"
  >
    <div>{{ offer.id }}</div>
  </div>
</div>

<div class="button-container">
  <button
    *ngFor="let country of countries.row4"
    (click)="showColor('row4', country)"
    class="country"
  >
    <div style="display: flex; align-items: center">
      <img [src]="country.flag" class="flag" />
      <span style="margin-left: 10px">{{ country.name }}</span>
    </div>
    <img src="../../assets/drop-down.jpg" style="width: 15px; height: 15px" />
  </button>
</div>

<!-- Display the offers of the selected country in row4 -->
<div
  style="display: flex; flex-direction: row"
  *ngIf="selectedCountry && selectedRow === 'row4'"
  class="color-display"
  [ngStyle]="{ 'background-color': colorMap['row4'] }"
>
  <div
    *ngFor="let offer of selectedCountry.offer"
    style="width: 100%; height: 100px; border: 1px solid"
  >
    <div>{{ offer.id }}</div>
  </div>
</div>

<div class="button-container">
  <button
    *ngFor="let country of countries.row5"
    (click)="showColor('row5', country)"
    class="country"
  >
    <div style="display: flex; align-items: center">
      <img [src]="country.flag" class="flag" />
      <span style="margin-left: 10px">{{ country.name }}</span>
    </div>
    <img src="../../assets/drop-down.jpg" style="width: 15px; height: 15px" />
  </button>
</div>

<!-- Display the offers of the selected country in row5 -->
<div
  style="display: flex; flex-direction: row"
  *ngIf="selectedCountry && selectedRow === 'row5'"
  class="color-display"
  [ngStyle]="{ 'background-color': colorMap['row5'] }"
>
  <div
    *ngFor="let offer of selectedCountry.offer"
    style="width: 100%; height: 100px; border: 1px solid"
  >
    <div>{{ offer.id }}</div>
  </div>
</div>

<!-- Toggle Button -->
<button (click)="toggleRows()">
  {{ showExtraRows ? "Hide Additional Rows" : "Show Additional Rows" }}
</button>
