<div class="main-div">

    <div class="modal-header">
        <h4 class="modal-title">Have you ever used eSim</h4>
    </div>
    <div class="modal-body">
        <div>
            <button class="btn button  green-button">Yes, sign me in as I have registered already</button>
        </div>
        <div>
            <button class="btn button  green-button">Yes, I will need to sign up though</button>
        </div>
        <div>
            <button class="btn button brown-btn">No, I will need a walk through</button>
        </div>
    </div>
</div>
